@import url('https://rsms.me/inter/inter.css');

:root
{
    --main_animation_dropdown_menu: .5s;
    --main_color_font: rgb(212, 209, 203);
}

/*html*/
/*{*/
/*    position: relative;*/
/*    min-height: 100%;*/
/*    scroll-behavior: smooth;*/
/*}*/
body::-webkit-scrollbar
{
    width: 5px;
}

body::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb
{
    background-color: rgba(28, 26, 45, 0.73);
    border-radius: 16px;
}


body
{
    font-family: 'Inter', sans-serif;
    background-color: rgb(16, 14, 25);

    /*margin-bottom: 56px;*/
}

ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}

section
{
    padding: 60px 0;
}

@media all and (min-width: 768px)
{
    .navbar .dropdown-menu-end
    {
        right: 0;
        left: auto;
    }

    .navbar .nav-item .dropdown-menu
    {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: var(--main_animation_dropdown_menu);
        margin-top: 0;
    }

    .navbar .nav-item:hover .nav-link
    {
        color: #2f80ed;
    }

    .navbar .dropdown-menu.fade-down
    {
        top: 80%;
    }

    .navbar .nav-item:hover .dropdown-menu
    {
        transition: var(--main_animation_dropdown_menu);
        opacity: 1;
        visibility: visible;
        top: 100%;
    }
}

@media all and (max-width: 768px)
{
    .navbar .dropdown-menu-end
    {
        left: 0;
        right: auto;
    }

    .navbar .nav-item .dropdown-menu
    {
        display: block;

        opacity: 0;
        height: 0;
        overflow: hidden;
        visibility: hidden;


        margin-top: 0;

        top: 80%;
        position: absolute;
    }

    .navbar .nav-item:hover .nav-link
    {
        color: #2f80ed;
    }

    .navbar .nav-item:hover .dropdown-menu
    {
        transition: var(--main_animation_dropdown_menu);
        opacity: 1;
        height: auto;
        visibility: visible;
        top: 100%;
    }
}


/* HEADER SECTION*/
.navbar-brand
{
    display: flex;
    justify-content: center;
    align-content: center;
}

.navbar-brand > img
{
    width: 125px;
    height: 40px;
}

.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: rgb(16, 14, 25);
    transition: 0.5s, margin 0s;
}

.header .container
{
    min-height: 70px;
}

.header--fixed
{
    border-bottom: 1px solid transparent;
}

.header--active
{
    border-color: rgb(37, 34, 61);
}

.dropdown-menu
{
    background: rgb(37, 33, 61);
}

.navbar-toggler
{

    border-color: var(--main_color_font);
}

.custom-toggler .navbar-toggler-icon
{
    background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(212, 209, 203, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}

.navbar-brand
{
    color: var(--main_color_font);
}

.nav_item_header > a
{
    color: var(--main_color_font);
}

.nav_item_header:hover > a
{
    color: #2f80ed;
    transition: var(--main_animation_dropdown_menu);
    background: none;
}

.navbar-brand:hover
{
    color: #2f80ed;
}

.nav-item > a
{
    color: var(--main_color_font);
}

/* FOOTER SECTION */
.footer
{
    /*background-color: rgb(37, 34, 61);*/
    background-color: rgb(28, 26, 45);
    height: 125px;

    /*position: absolute;*/
    /*bottom: 0;*/
    /*width: 100%;*/
}

.footer_container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_img
{
    width: 150px;
    height: 50px;
}

.footer_img > img
{
    width: 100%;
    height: 100%;
}

.footer_svg
{
    fill: #C5C3C1;
    width: 35px;
    height: 35px;
}

.footer_icons_container
{
    width: 150px;
    margin-right: 25px;
    display: flex;
    justify-content: space-between;
}

.footer_svg path
{
    fill: #C5C3C1;
}

.bi-github:hover path
{
    fill: rgba(227, 14, 14, 0.65);
    transition: .7s;
}

.bi-telegram:hover path
{
    fill: rgba(42, 170, 236, 0.89);
    transition: .7s;
}

.wk_svg:hover path
{
    fill: rgb(43, 92, 189);
    transition: .7s;
}