@import url('https://rsms.me/inter/inter.css');

:root
{
    --main_animation_dropdown_menu: .5s;
    --main_color_font: rgb(201, 201, 198);
}


body::-webkit-scrollbar
{
    width: 5px;
}

body::-webkit-scrollbar-track
{
    background: rgba(20, 33, 51, 1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb
{

    background-color: rgba(54, 46, 105, 0.68);
    border-radius: 16px;
}


body
{
    font-family: 'Inter', sans-serif;
    /*background-color: rgb(16, 14, 25);*/
    /*color: #100E19FF*/
    background: rgb(16, 14, 25);
    background: linear-gradient(90deg, rgba(16, 14, 25, 1) 41%, rgba(24, 23, 42, 1) 61%, rgba(20, 33, 51, 1) 79%);
    /*margin-bottom: 56px;*/
}

ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}

section
{
    padding: 60px 0;
}

@media all and (min-width: 768px)
{
    .navbar .dropdown-menu-end
    {
        right: 0;
        left: auto;
    }

    .navbar .nav-item .dropdown-menu
    {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: var(--main_animation_dropdown_menu);
        margin-top: 0;
    }

    .navbar .nav-item:hover .nav-link
    {
        color: #2f80ed;
    }

    .navbar .dropdown-menu.fade-down
    {
        top: 80%;
    }

    .navbar .nav-item:hover .dropdown-menu
    {
        transition: var(--main_animation_dropdown_menu);
        opacity: 1;
        visibility: visible;
        top: 100%;
    }
}

@media all and (max-width: 768px)
{
    .navbar .dropdown-menu-end
    {
        left: 0;
        right: auto;
    }

    .navbar .nav-item .dropdown-menu
    {
        display: block;

        opacity: 0;
        height: 0;
        overflow: hidden;
        visibility: hidden;


        margin-top: 0;

        top: 80%;
        position: absolute;
    }

    .navbar .nav-item:hover .nav-link
    {
        color: #2f80ed;
    }

    .navbar .nav-item:hover .dropdown-menu
    {
        transition: var(--main_animation_dropdown_menu);
        opacity: 1;
        height: auto;
        visibility: visible;
        top: 100%;
    }
}


/* HEADER SECTION*/
.navbar-brand
{
    display: flex;
    justify-content: center;
    align-content: center;
}

.navbar-brand > img
{
    width: 125px;
    height: 40px;
}

.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    /*background-color: rgb(16, 14, 25);*/
    background: rgb(16, 14, 25);
    background: linear-gradient(90deg, rgba(16, 14, 25, 1) 41%, rgba(24, 23, 42, 1) 61%, rgba(20, 33, 51, 1) 79%);
    transition: 0.5s, margin 0s;
}

.header .container
{
    min-height: 70px;
}

.header--fixed
{
    border-bottom: 1px solid transparent;
}

.header--active
{
    border-color: rgb(37, 34, 61);
}

.dropdown-menu
{
    background: rgb(37, 33, 61);
}

.navbar-toggler
{

    border-color: var(--main_color_font);
}

.custom-toggler .navbar-toggler-icon
{
    background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(212, 209, 203, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}

.navbar-brand
{
    color: var(--main_color_font);
}

.nav_item_header > a
{
    color: var(--main_color_font);
}

.nav_item_header:hover > a
{
    color: #2f80ed;
    transition: var(--main_animation_dropdown_menu);
    background: none;
}

.navbar-brand:hover
{
    color: #2f80ed;
}

.nav-item > a
{
    color: var(--main_color_font);
}

/* FOOTER SECTION */
.footer
{
    /*background-color: rgb(37, 34, 61);*/
    /*background-color: rgb(28, 26, 45);*/
    background: rgb(28, 26, 45);
    background: linear-gradient(90deg, rgba(28, 26, 45, 1) 29%, rgba(30, 28, 56, 1) 50%, rgba(41, 37, 85, 1) 88%);
        height: 125px;

    /*position: absolute;*/
    /*bottom: 0;*/
    /*width: 100%;*/
}

.footer_container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_img
{
    width: 150px;
    height: 50px;
}

.footer_img > img
{
    width: 100%;
    height: 100%;
}

.footer_svg
{
    fill: #C5C3C1;
    width: 35px;
    height: 35px;
}

.footer_icons_container
{
    width: 150px;
    margin-right: 25px;
    display: flex;
    justify-content: space-between;
}

.footer_svg path
{
    fill: #C5C3C1;
}

.bi-github:hover path
{
    fill: rgba(227, 14, 14, 0.65);
    transition: .7s;
}

.bi-telegram:hover path
{
    fill: rgba(42, 170, 236, 0.89);
    transition: .7s;
}

.wk_svg:hover path
{
    fill: rgb(43, 92, 189);
    transition: .7s;
}


/*BLOCK_SEARCH_STYLE*/
.not_visible
{
    display: none !important;
}

#search_form .form-control
{
    border: none !important;
    /*outline: none !important;*/
    margin-bottom: 5px;
}

#search_input
{

    color: var(--main_color_font);
    /*background-color: #212529;*/
    background: rgb(37, 33, 61);
    box-shadow: -5px 0 5px -5px rgba(0, 0, 0, .5);
}

#search_input:focus
{
    box-shadow: 0 0 0 1px rgba(51, 28, 152, 0.25)

}

.block_ul_search
{
    /*margin-right: 8px;*/
    padding-top: 20px;
    padding-bottom: 0;
    /*background-color: #212529;*/

}

.block_li_search
{
    margin-bottom: 20px;
    padding-left: 10px;
}

.img_search
{
    padding-right: 10px;
}

.img_search > img
{

    width: 50px;
    height: 75px;
    border-radius: 8px;
}

.text_search
{
    padding-right: 20px;
    padding-left: 10px;
}

.text_search p
{
    color: var(--main_color_font);
    font-family: 'Rubik', sans-serif;
}

.text_search:hover p
{
    color: rgb(47, 128, 237);
    transition: .7s;
}

.search_text_error
{
    width: 100%;
    text-align: center;
}

.search_text_error h1
{
    color: var(--main_color_font);
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
}