/* NEW MOVIES SECTION*/
.movies
{
    margin-top: 100px;
    background-color: darkblue;
}

/*.card_big*/
/*{*/
/*    margin: 0 10px;*/
/*    border: none;*/
/*    overflow: hidden;*/
/*    border-radius: 16px;*/

/*}*/

/*.card*/
/*{*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: flex-start;*/
/*    align-items: flex-start;*/
/*    margin-top: 20px;*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*}*/

.owl-carousel .nav-btn
{

    position: absolute;
    top: 150px !important;
}

.nav-btn
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: .5;
}


.card_img
{
    min-height: 358px;
}

.owl-carousel .prev-slide
{

    background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='306px' height='306px' viewBox='0 0 306 306' style='enable-background:new 0 0 306 306;' xml:space='preserve'%3E%3Cg%3E%3Cg id='chevron-left'%3E%3Cpolygon points='247.35,35.7 211.65,0 58.65,153 211.65,306 247.35,270.3 130.05,153 '/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A") no-repeat center;
    left: -55px;

    background-color: #FFFFFF;
    background-size: 20px 20px;

}

.owl-carousel .next-slide
{
    background: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='306px' height='306px' viewBox='0 0 306 306' style='enable-background:new 0 0 306 306;' xml:space='preserve'%3E%3Cg%3E%3Cg id='keyboard-arrow-right'%3E%3Cpolygon points='58.65,267.75 175.95,153 58.65,35.7 94.35,0 247.35,153 94.35,306 '/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A") no-repeat center;
    right: -55px;

    background-color: #FFFFFF;
    background-size: 20px 20px;
}


.owl-carousel .prev-slide:hover
{
    opacity: .9;
    transition: .7s;
}

.owl-carousel .next-slide:hover
{
    opacity: .9;
    transition: .7s;
}

/*@media all and(max-width: 1100px)*/
/*{*/
/*    .owl-carousel .nav-btn*/
/*    {*/
/*        position: absolute;*/
/*        top: 1000px !important;*/
/*    }*/
/*}*/