/* NEW MOVIES SECTION*/
.movies
{
    margin-top: 100px;
}

.movies_title_head
{
    margin-bottom: 50px;
    color: rgb(197, 195, 193);;
}

.card
{
    overflow: hidden;
    background: none;
    border: none;
}


.card_cover
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 358px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    z-index: 1;

    text-align: center;

}


.card_img
{
    width: 100%;
    height: 100%;
}

.card_cover:hover > img
{
    filter: blur(4px);
    transition: .7s;
    transform: scale(1.06);
}

.card_svg_play
{
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 0;
    transform: scale(.5);
}

.card_cover:hover .card_svg_play
{
    visibility: visible;
    transform: scale(1);
    opacity: 1;
    transition: .5s;
}

.card_svg_play path
{
    fill: rgb(232, 230, 227);
}

.card_svg_play:hover path
{
    fill: #2f80ed;
    transition: .7s;
}

.card_rating
{
    background-color: rgba(21, 31, 48, 0.75);
    display: flex;
    align-content: center;
    justify-content: center;
    align-self: center;
    border-radius: 10px;
    padding: 0 10px;
    height: 30px;
    left: 68%;
    top: 3%;
    font-weight: 500;
    color: var(--main_color_font);
    align-items: center;
    position: absolute;
    z-index: 1;
    pointer-events: none;

    transform: scale(.5);

    opacity: 0;
}

.card_cover:hover .card_rating
{
    opacity: 1;
    transform: scale(1);
    transition: .5s;
}

.card_svg_star path
{
    fill: #2f80ed;
}

.card_svg_star
{
    padding-right: 5px;
    width: 20px;
    height: 20px;
}


.card_title
{
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: rgb(197, 195, 193);;

    margin-top: 10px;
    margin-bottom: 5px;

    transition: 0.5s;
    display: block;
    width: 100%;

    overflow: hidden;
    white-space: nowrap;

    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;

    word-wrap: break-word;
}

.card_title a
{
    color: rgb(197, 195, 193);;
}

.card_title a:hover
{
    color: #2f80ed;
    transition: .7s;
}

.card_list
{
    padding: 0;
    margin-bottom: 5px;

}

.card_list_li > a
{
    font-size: 14px;
    color: #3593ff;
}

.card_list_li > a:hover
{
    color: rgba(47, 128, 237, 0.68);
    transition: .7s;
}

.card_info
{
    padding: 0;
    color: rgb(197, 195, 193);;
}

@media all and (max-width: 400px)
{
    .card_cover
    {
        height: 250px;
    }
}

@media all and (max-width: 500px)
{
    .card_rating
    {
        top: 2%;
        left: 55%;
    }

}

@media all and (max-width: 320px)
{
    .card_rating
    {
        top: 2%;
        left: 44%;
    }

}

/* CAROUSEL BUTTON */
.owl-carousel .nav-btn
{

    position: absolute;
    top: 150px !important;
}

.nav-btn
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: .5;

}

.owl-carousel .prev-slide
{

    background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='306px' height='306px' viewBox='0 0 306 306' style='enable-background:new 0 0 306 306;' xml:space='preserve'%3E%3Cg%3E%3Cg id='chevron-left'%3E%3Cpolygon points='247.35,35.7 211.65,0 58.65,153 211.65,306 247.35,270.3 130.05,153 '/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A") no-repeat center;
    left: -55px;

    background-color: #FFFFFF;
    background-size: 20px 20px;
}

.owl-carousel .next-slide
{
    background: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='306px' height='306px' viewBox='0 0 306 306' style='enable-background:new 0 0 306 306;' xml:space='preserve'%3E%3Cg%3E%3Cg id='keyboard-arrow-right'%3E%3Cpolygon points='58.65,267.75 175.95,153 58.65,35.7 94.35,0 247.35,153 94.35,306 '/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A") no-repeat center;
    right: -55px;

    background-color: #FFFFFF;
    background-size: 20px 20px;

}


.owl-carousel .prev-slide:hover
{
    opacity: .9;
    transition: .7s;
}

.owl-carousel .next-slide:hover
{
    opacity: .9;
    transition: .7s;
}


@media all and (max-width: 1024px)
{
    .nav-btn
    {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        opacity: .5;
    }

    .owl-carousel .prev-slide
    {

        left: -40px;
        background-size: 10px 10px;

    }

    .owl-carousel .next-slide
    {
        right: -40px;
        background-size: 10px 10px;
    }

}

/* MOVIE LIST */
.movie_list_line
{
    background-color: rgb(37, 34, 61);
    width: 100%;
    padding: 10px 20px 20px;
    margin-bottom: 50px;
    border-radius: 16px;
}

.сard_big
{
    display: flex;
    flex-direction: row;
    background-color: rgb(37, 34, 61);
    margin-bottom: 20px;
    border-radius: 16px;
    width: auto;
}

.сard_big .card_cover
{
    border-radius: 0;
    border-bottom-left-radius: 16px;
}

.сard_big .card_cover
{
    min-height: 300px;
    height: auto;
    width: 50%;
}

.card_content
{
    width: 50%;
    display: flex;
    flex-direction: column;

    padding: 0 15px;

    text-align: left;

}

.сard_big .card_cover .card_rating
{
    left: 65%;
    top: 3%;
}

@media all and (max-width: 1000px)
{
    .сard_big .card_cover .card_rating
    {
        left: 60%;
        top: 3%;
    }
}
@media all and (max-width: 320px)
{
    .сard_big .card_cover .card_rating
    {
        left: 50%;
        top: 3%;
    }
}
.card_content_title_h5
{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: rgb(180, 178, 173);
    margin: auto 0;

    overflow: hidden;
    font-family: 'Rubik', sans-serif;
    font-style: italic;
}
.card_content_title_h5
{
    margin: 5px 0;
}

.card_list_big
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    width: 100%;
    padding: 0;
    margin-bottom: 3px;
}

.card_list_big .card_list_li
{
    color: #C5C3C1;
    font-size: 12px;
}

.card_list_big .card_list_li > a
{
    font-size: 12px;
}
