.m-20px
{
    margin-top: 20px;
}

.disable_btn
{
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.5 !important;
    pointer-events: none;
}

.main_movie_serial_section
{
    margin-top: 100px;
}

.mov_ser_text
{
    color: rgb(197, 195, 193);
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
}

.title_margin_btm
{
    margin-bottom: 40px;
}

.header_block_film_serial
{
    margin-bottom: 25px;
}

.mov_ser_img
{
    height: 450px;
    width: 300px;
    border-radius: 7px;
}

.container_image_single_page
{
    height: 450px;
    width: 300px;
    margin-right: 20px;
}

.position_tags
{
    top: 0;
    left: 70%;
}

.card_svg_style_single_page
{
    margin-top: 10px;
    margin-right: 10px;
    width: 35px;
    height: 35px;
    z-index: 10;
    cursor: pointer;
    /*z-index: 10;*/
    /*transform: scale(.5);*/
}

.card_svg_style_single_page path
{
    fill: #7e7e7e;
    transition: .5s;
    opacity: .7;
}

.card_svg_style_single_page:hover path
{
    opacity: 1;
}


.svg_star_container
{
    display: flex;
    align-items: center;
}

.svg_star_mark
{
    width: 32px;
    height: 32px;
    fill: rgb(147, 145, 145);
}

.name_film_block
{
    margin-bottom: 40px;
}

.about_film_attribute
{
    min-width: 200px;
    width: 200px;
}

.about_film_attribute > h4
{
    color: rgb(147, 145, 145);
}

.about_film_attribute_content > h4
{
    color: rgb(197, 195, 193);

}

.about_film_block_container_li
{
    margin-bottom: 20px;
}

.film_serial_rating_sys
{
    outline: 1px solid rgb(159, 157, 157);
    border-radius: 4px;
}

.mpa_age_rating
{
    padding: 3px 4px;
}

.rating_bar
{
    margin-top: 50px;
}

.many_star_container
{
    margin-right: 35px;
}

.one_star_container
{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 10px;
}

.one_star_container:hover
{
    cursor: pointer;
}

.active_star_fill .svg_star_container .svg_star_mark
{
    fill: rgba(26, 19, 231, 0.72) !important;
    /*transition: .5s;*/
}

.active_star_fill .p_star_text
{
    color: #3593ff;
    transition: .5s;
}

.mov_rating_text
{
    color: rgb(197, 195, 193);
    text-align: center;
    padding-bottom: 7px;
}


.p_star_text
{
    padding-top: 5px;
    color: rgb(147, 145, 145);
}

.synopsys_title
{
    margin-top: 25px;
}

.synopsys_block p
{
    font-size: 20px;
}

@media all and (max-width: 992px)
{
    .name_film_block
    {
        margin-top: 30px;
    }
}

@media all and (max-width: 768px)
{
    .svg_star_mark
    {
        width: 20px;
        height: 20px;
    }

    .many_star_container
    {
        margin-right: 15px;
    }
}

@media all and (max-width: 425px)
{
    .svg_star_mark
    {
        width: 15px;
        height: 15px;
    }

    .many_star_container
    {
        margin-right: 15px;
    }

    .about_film_attribute
    {
        min-width: 120px;
        width: 120px;
    }
}

@media all and (max-width: 340px)
{
    .svg_star_mark
    {
        width: 12px;
        height: 12px;
    }

    .many_star_container
    {
        margin-right: 15px;
    }
}

/* RATING BAR SECTION*/
.font_class_style_rating
{
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    padding: 0;
    padding-right: 10px;
}

.time_styles
{
    text-align: start;
    font-family: 'Iter', sans-serif;
}

@media all and (max-width: 768px)
{
    .font_class_style_rating
    {
        font-size: 16px;
    }
}


/* WRITE REVIEW SECTION */
.border_style_form
{
    border: 1px solid rgb(49, 45, 80);
    /*border: 1.2px solid rgba(0, 0, 0, .2);*/
    border-radius: 6px;
    box-shadow: 0 2px 6px 1px rgb(0 0 0 / 10%);


}

.border_style_form_send_review
{
    border: 1px solid rgb(49, 45, 80);
    border-radius: 6px;
    box-shadow: 0 2px 6px 1px rgb(0 0 0 / 10%);
}

.active_rating_bar_block
{
    padding-left: 7px;
    border-left: 2px solid rgb(49, 45, 80);
}

.rating_bar_select_cls
{
    cursor: pointer;
}

.rating_bar_select_total > h1, h4
{
    color: #d7d7d1 !important;
}

.rating_bar_select_total .total_text
{
    color: #d7d7d1 !important;
}

.rating_bar_select_total > h1
{
    margin-bottom: 0;
    font-family: 'Rubik', sans-serif;

}

.rating_bar_select_total > h4
{
    font-size: 15px;
}

.rating_bar_select_cls > h4
{
    color: var(--bs-link-color) !important;
    font-size: 15px;
}


.positive_rating_bar
{
    font-family: 'Rubik', sans-serif;

    color: rgb(47, 128, 237);
}

.neutral_rating_bar
{
    font-family: 'Rubik', sans-serif;

    color: #C5C3C1;
}

.negative_rating_bar
{
    font-family: 'Rubik', sans-serif;

    color: #a11418;
}

.percent_style
{
    margin-left: 5px;
    color: rgba(197, 195, 193, 0.5);
}

.positive_border
{
    border: 1px solid rgb(47, 128, 237);
}

.neutral_border
{
    border: 1px solid #C5C3C1;
}

.negative_border
{
    border: 1px solid #a11418;
}

.positive_user_bottom
{
    border-bottom: 1px solid rgb(47, 128, 237);
}

.neutral_user_bottom
{
    border-bottom: 1px solid #C5C3C1;

}

.negative_user_bottom
{
    border-bottom: 1px solid #a11418;

}

.user_info
{
    padding: 20px 24px;
}

.created_review_date
{
    margin-left: auto;
}

.user_review
{
    padding: 19px 24px 38px;
}

.content-block-text
{
    height: 100px;
    overflow: hidden;
    position: relative;
    transition: margin 0.3s;
}

.content-block-text-open
{
    height: auto;
}

.show-all-container
{
    right: 10px;
    margin-top: 16px;
    display: none;
    margin-bottom: 10px;
}

.show-all
{
    padding: 1px 6px 2px;
    font-size: 13px;
    cursor: pointer;
    border: none;
    color: #C5C3C1;
    border-radius: 2px;
    background-color: rgba(49, 45, 80, .5);
}

#review_type_block
{
    position: sticky;
    top: 100px;
}

.custom-select
{
    padding-bottom: 20px;
}

.select-hidden
{
    display: none;
    visibility: hidden;
    padding-right: 10px;
}

.select
{
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    /*color: #fff;*/
    color: #C5C3C1;
    width: 100%;
    height: 40px;
}

.select-styled
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border-radius: 4px;
    background: rgb(49, 45, 80);
    opacity: 0.8;

    padding: 8px 15px;
    transition: all 0.2s ease-in;
}

.select-styled:after
{
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #C5C3C1 transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px;
}

.select-styled:hover
{
    opacity: 1;
}

.select-styled:active, .select-styled.active
{
}

.select-styled:active:after, .select-styled.active:after
{
    top: 9px;
    border-color: transparent transparent #C5C3C1 transparent;
}

.select-options
{
    display: none;
    position: absolute;
    top: 105%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    /*background-color: #ab3326;*/
    background: rgb(49, 45, 80);
    /*background: linear-gradient(90deg, rgba(28, 26, 45, 1) 29%, rgba(30, 28, 56, 1) 50%, rgba(41, 37, 85, 1) 88%);*/

}

.select-options li
{
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    /*border-top: 1px solid #962d22;*/
    transition: all .5s ease-in;
}

.select-options li:nth-child(2)
{
    margin-top: 15px;
}

.select-options li:last-child
{
    margin-bottom: 15px;
}

.select-options li:hover, .select-options li.is-selected
{
    /*color: #c0392b;*/
    background: rgb(60, 55, 101);
    /*background: linear-gradient(90deg, rgb(43, 39, 72) 29%, rgb(37, 35, 73) 50%, rgb(48, 43, 114) 88%);*/


}

.select-options li[rel="hide"]
{
    display: none;
}

.user_info_send_review
{
    border-bottom: 1px solid rgb(60, 55, 101);
}

.block_review_write
{
    margin-top: 30px;
}


.title_form_review_container
{
    margin-bottom: 20px;
    font-size: 16px;
    position: relative;
}

#input_title
{
    background: rgb(49, 45, 80);
    /*background: linear-gradient(90deg, rgba(28, 26, 45, 1) 29%, rgba(30, 28, 56, 1) 50%, rgba(41, 37, 85, 1) 88%);*/
    border: none;
    color: #C5C3C1;

    padding: 10px 16px 12px;

    opacity: 0.8;
    height: 35px;
    outline: none;
    border-radius: 4px;
}

#input_title:focus
{
    transition: .5s;
    opacity: 1;
}

.text_form_review_container
{
    margin-bottom: 20px;
}

#textarea_form_review
{
    background: rgb(49, 45, 80);
    /*background: linear-gradient(90deg, rgba(28, 26, 45, 1) 29%, rgba(30, 28, 56, 1) 50%, rgba(41, 37, 85, 1) 88%);*/
    border: none;
    outline: none;
    /*color: rgb(197, 195, 193);*/
    color: #C5C3C1;
    padding: 10px 16px;
    font-size: 15px;

    resize: none;
    height: 300px;

    opacity: 0.8;
    border-radius: 4px;
}

#textarea_form_review:focus
{
    transition: .5s;
    opacity: 1;
}

.button_form_review_container
{
    width: 100%;
}

#button_review_send
{
    background: rgb(49, 45, 80);
    /*background: linear-gradient(90deg, rgba(28, 26, 45, 1) 29%, rgba(30, 28, 56, 1) 50%, rgba(41, 37, 85, 1) 88%);*/
    outline: none;
    width: 100%;
    color: #C5C3C1;

    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 11px 28px;
    border: 0 solid transparent;
    border-radius: 4px;
    -webkit-appearance: none;


    opacity: 0.8;
}


#button_review_send:hover
{
    opacity: 1;
    transition: .5s;
}

.error_field
{
    color: #0f91c7 !important;
    margin: 5px 0;
    font-size: 16px;
    font-weight: 400;
}

.like_dislike_svg
{
    width: 20px;
    height: 20px;
}

.like_dislike_btn
{
    background-color: rgb(49, 45, 80);
    border-radius: 4px;
    border: none;
    color: #C5C3C1;
    padding: 5px 11px 5px 8px;
    opacity: 1;
    transition: .5s;
}

.number_btn_like_dis
{
    color: rgba(197, 195, 193, 0.5);
}

.like_dislike_btn:hover
{
    background-color: rgb(57, 57, 105);
}

.active_btn_status
{
    background-color: rgb(57, 57, 105) !important;
}

.like_dislike_btn:first-child
{
    margin-right: 10px;
}

.like_svg
{
    fill: #2f80ed !important;
}

.dislike_svg
{
    fill: #a11418 !important;
}

@media all and (min-width: 768px)
{

    .m-left
    {
        margin-left: auto;
    }
}
@media all and (max-width: 768px)
{
 #like_dislike_btn_container
 {
     margin-top: 20px;
 }

}
