{% extends 'web/base.html' %}
{% load static %}
{% load  widget_tweaks %}
{% block title_style %}
    <title>Registration Page</title>
    <link rel="stylesheet" href="{% static 'css/register_login.css' %}">
{% endblock title_style %}
{% block content %}
    <section class="registration">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="form_container">
                        {% block form %}
                        {% endblock form %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
