{% extends 'users/register_login_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block form %}
    <form method="post" class="form_post" onkeypress="return event.keyCode != 13;">
        {% csrf_token %}
        <a class="login_icon" href="{% url 'main_page' %}">
            <img src="{% static 'image/LOGO.gif' %}" alt>
        </a>

        <div class="field_group">
            {{ user_form.username|append_attr:'autofocus'|add_class:'form_input form_input_reg'|remove_attr:'maxlength'|append_attr:'maxlength=40'|append_attr:'placeholder:Name'|append_attr:'id=username_reg'|append_attr:'data-value=true'|append_attr:'autocomplete=off' }}
        </div>
        <div class="field_group">
            {{ user_form.email|remove_attr:'autofocus'|add_class:'form_input form_input_reg'|append_attr:'placeholder:Email'|append_attr:'id=email_reg'|append_attr:'data-value=true'|append_attr:'autocomplete=nope' }}
        </div>
        <div class="field_group">
            {{ user_form.password1|add_class:'form_input form_input_reg'|append_attr:'maxlength=40'|append_attr:'placeholder:Password'|append_attr:'id=pwd1_reg' }}
        </div>
        <div class="field_group">
            {{ user_form.password2|add_class:'form_input form_input_reg'|append_attr:'maxlength=50'|append_attr:'placeholder:Confirm Password'|append_attr:'id=pwd2_reg'|append_attr:'data-value=true' }}
        </div>
        <button class="disable_btn sign_login_btn" id="submit_btn" type="submit">Sign Up</button>
    </form>
{% endblock form %}
{% block script %}
    <script src="{% static 'js/ajax_registration_form_checker.js' %}"></script>
{% endblock script %}