{% load static %}
{% load bootstrap5 %}
{% load forx %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% bootstrap_messages %}
    {% block title_style %}
    {% endblock title_style %}
</head>
<body>
<nav class="navbar navbar-expand-md bg-danger">
    <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                {% for i in 5|for_range %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li>
                {% endfor %}
                {#                <li class="nav-item">#}
                {#                    <a class="nav-link" href="#">Link</a>#}
                {#                </li>#}
                {##}
                {#                <li class="nav-item">#}
                {#                    <a class="nav-link">Disabled</a>#}
                {#                </li>#}
                {#                <li class="nav-item">#}
                {#                    <a class="nav-link">Disabled</a>#}
                {#                </li>#}
            </ul>
        </div>
</nav>
</div>
{% block content %}
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
{% bootstrap_javascript %}

</body>
</html>