{% extends 'web/base.html' %}
{% load static %}
{% load forx %}
{% block title_style %}
    <title>Main</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
{% endblock title_style %}
{% block content %}
    <section class="movies">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>New Movies</h2>
                </div>
                <div class="col-12">
                    <div class="owl-carousel owl-theme" id="slider">
                        {% for i in 6|for_range %}
                            <div class="card card_big">
                                <a class="">
                                    <img class="card_img" src="{% static 'image/temp.jpg' %}" alt>
                                </a>
                                <div style='padding-top: 10px'>
                                    <h4>{{ i }}</h4>
                                </div>
                            </div>
                            <div class="card">
                                <a class="">
                                    <img class="" src="{% static 'image/dune.jpg' %}" alt>
                                </a>
                                <div>
                                    <h4>{{ i }}</h4>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
{% block script %}
    <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script>
        $("#slider").owlCarousel(
            {
                loop: true,
                margin:10,
                dots: true,
                nav: true,
                navText: ["<div class='nav-btn prev-slide'></div>", "<div class='nav-btn next-slide'></div>"],
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    600: {
                        items: 3,
                        nav: false
                    },
                    1000: {
                        items: 5,
                        slideBy: 2,
                    }
                },
            }
        );
    </script>
{% endblock script %}