{% extends 'web/base.html' %}
{% load static %}
{% load forx %}
{% load check_favorite %}
{% block title_style %}
    <title>Main</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
{% endblock title_style %}
{% block content %}
    <main>
        <section class="movies">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="movies_title_head">Popular Movies</h2>
                    </div>
                    <div class="col-12">
                        <div class="owl-carousel owl-theme" id="movie_slider">
                            {% for movie in popular_movies %}
                                <div class="card">
                                    <a href="{% url 'movie_page' movie.slug %}" class="card_cover">
                                        <img class="card_img" src="{{ movie.poster.url }}" alt="">
                                        <svg class="card_svg_play" version="1.1" id="Layer_1"
                                             xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                             xml:space="preserve">
<g>
	<g>
		<path d="M256,0C114.841,0,0,114.841,0,256s114.841,256,256,256s256-114.841,256-256S397.159,0,256,0z M256,492.308
			c-130.298,0-236.308-106.01-236.308-236.308S125.702,19.692,256,19.692S492.308,125.702,492.308,256S386.298,492.308,256,492.308z
			"/>
	</g>
</g>
                                            <g>
	<g>
		<path d="M246.154,118.154c-21.582,0-41.721,8.564-56.707,24.106c-3.774,3.913-3.664,10.144,0.255,13.918
			c3.909,3.774,10.144,3.664,13.918-0.254c11.24-11.655,26.346-18.078,42.534-18.078c32.577,0,59.077,26.501,59.077,59.077
			c0,20.275-9.447,26.712-26.601,38.394c-9.039,6.159-19.288,13.135-29.759,23.543c-28.111,27.923-19.394,59.044-10.861,71.597
			c1.899,2.792,4.971,4.289,8.106,4.289c1.885,0,3.793-0.543,5.481-1.669c4.495-3,5.707-9.1,2.745-13.624
			c-1.553-2.371-14.529-23.837,8.404-46.621c9.187-9.125,18.635-15.561,26.971-21.24c18.106-12.331,35.207-23.981,35.207-54.668
			C324.923,153.49,289.586,118.154,246.154,118.154z"/>
	</g>
</g>
                                            <g>
	<g>
		<path d="M245.135,364.308c-5.438,0-9.846,4.41-9.846,9.846V384c0,5.438,4.409,9.846,9.846,9.846c5.438,0,9.846-4.409,9.846-9.846
			v-9.846C254.981,368.718,250.572,364.308,245.135,364.308z"/>
	</g>
</g>
                                        </svg>
                                        <span class="navbar_rating_hover">
                                                <span class="card_rating">
                                                    <svg class="card_svg_star" version="1.1" id="Capa_1"
                                                         xmlns="http://www.w3.org/2000/svg"
                                                         xmlns:xlink="http://www.w3.org/1999/xlink"
                                                         x="0px"
                                                         y="0px"
                                                         width="36.09px" height="36.09px" viewBox="0 0 36.09 36.09"
                                                         style="enable-background:new 0 0 36.09 36.09;"
                                                         xml:space="preserve"
                                                    >
        <g>
            <path d="M36.042,13.909c-0.123-0.377-0.456-0.646-0.85-0.688l-11.549-1.172L18.96,1.43c-0.16-0.36-0.519-0.596-0.915-0.596
                s-0.755,0.234-0.915,0.598L12.446,12.05L0.899,13.221c-0.394,0.04-0.728,0.312-0.85,0.688c-0.123,0.377-0.011,0.791,0.285,1.055
                l8.652,7.738L6.533,34.045c-0.083,0.387,0.069,0.787,0.39,1.02c0.175,0.127,0.381,0.191,0.588,0.191
                c0.173,0,0.347-0.045,0.503-0.137l10.032-5.84l10.03,5.84c0.342,0.197,0.77,0.178,1.091-0.059c0.32-0.229,0.474-0.633,0.391-1.02
                l-2.453-11.344l8.653-7.737C36.052,14.699,36.165,14.285,36.042,13.909z M25.336,21.598c-0.268,0.24-0.387,0.605-0.311,0.957
                l2.097,9.695l-8.574-4.99c-0.311-0.182-0.695-0.182-1.006,0l-8.576,4.99l2.097-9.695c0.076-0.352-0.043-0.717-0.311-0.957
                l-7.396-6.613l9.87-1.002c0.358-0.035,0.668-0.264,0.814-0.592l4.004-9.077l4.003,9.077c0.146,0.328,0.456,0.557,0.814,0.592
                l9.87,1.002L25.336,21.598z"/>
        </g>
                                                        <g>
        </g>
                                                        <g>
        </g>
                                                        <g>
        </g>
                                                        <g>
        </g>
                                                        <g>
        </g>
                                                        <g>
        </g>
                                                        <g>
        </g>
                                                        <g>
        </g>
                                                        <g>
        </g>
                                                        <g>
        </g>
                                                        <g>
        </g>
                                                        <g>
        </g>
                                                        <g>
        </g>
                                                        <g>
        </g>
                                                        <g>
        </g>
        </svg>
                                                    {{ movie.IMDb_RATING }}
                                                </span>
                                                <div data-value="{{ movie.slug }}" data-value-type="film"
                                                     class="svg_heart_container {{ movie.slug }}_cls_favorite">
                                                    {% favorite_movie movie request 'Favorite' as favorite_bool %}
                                                    {% if favorite_bool %}
                                                        <svg class="card_svg_actions_with_film favourite_film"
                                                             version="1.1"
                                                             id="Capa_1"

                                                             xmlns="http://www.w3.org/2000/svg"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                             width="45.743px" height="45.743px"
                                                             viewBox="0 0 45.743 45.743"
                                                             xml:space="preserve">
                                                    <g>
                                                        <path d="M34.199,3.83c-3.944,0-7.428,1.98-9.51,4.997c0,0-0.703,1.052-1.818,1.052c-1.114,0-1.817-1.052-1.817-1.052
                                                            c-2.083-3.017-5.565-4.997-9.51-4.997C5.168,3.83,0,8.998,0,15.376c0,1.506,0.296,2.939,0.82,4.258
                                                            c3.234,10.042,17.698,21.848,22.051,22.279c4.354-0.431,18.816-12.237,22.052-22.279c0.524-1.318,0.82-2.752,0.82-4.258
                                                            C45.743,8.998,40.575,3.83,34.199,3.83z"/>
                                                    </g>
                                                </svg>
                                                    {% else %}
                                                        <svg class="card_svg_actions_with_film" version="1.1"
                                                             id="Capa_1"

                                                             xmlns="http://www.w3.org/2000/svg"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                             width="45.743px" height="45.743px"
                                                             viewBox="0 0 45.743 45.743"
                                                             xml:space="preserve">
                                                    <g>
                                                        <path d="M34.199,3.83c-3.944,0-7.428,1.98-9.51,4.997c0,0-0.703,1.052-1.818,1.052c-1.114,0-1.817-1.052-1.817-1.052
                                                            c-2.083-3.017-5.565-4.997-9.51-4.997C5.168,3.83,0,8.998,0,15.376c0,1.506,0.296,2.939,0.82,4.258
                                                            c3.234,10.042,17.698,21.848,22.051,22.279c4.354-0.431,18.816-12.237,22.052-22.279c0.524-1.318,0.82-2.752,0.82-4.258
                                                            C45.743,8.998,40.575,3.83,34.199,3.83z"/>
                                                    </g>
                                                </svg>
                                                    {% endif %}
                                                </div>
                                                <div data-value="{{ movie.slug }}" data-value-type="film"
                                                     class="svg_bookmark_container {{ movie.slug }}_cls_bookmark">
                                                    {% favorite_movie movie request 'Later' as book_mark %}
                                                    {% if book_mark %}
                                                        <svg class="card_svg_actions_with_film later_film" version="1.1"
                                                             id="Capa_1"
                                                             xmlns="http://www.w3.org/2000/svg"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                             width="459px" height="459px" viewBox="0 0 459 459"
                                                             style="enable-background:new 0 0 459 459;"
                                                             xml:space="preserve">
                                                        <g>
                                                            <g id="bookmark">
                                                                <path d="M357,0H102C73.95,0,51,22.95,51,51v408l178.5-76.5L408,459V51C408,22.95,385.05,0,357,0z"/>
                                                            </g>
                                                        </g>
                                                        </svg>
                                                    {% else %}
                                                        <svg class="card_svg_actions_with_film" version="1.1"
                                                             id="Capa_1"
                                                             xmlns="http://www.w3.org/2000/svg"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                             width="459px" height="459px" viewBox="0 0 459 459"
                                                             style="enable-background:new 0 0 459 459;"
                                                             xml:space="preserve">
                                                        <g>
                                                            <g id="bookmark">
                                                                <path d="M357,0H102C73.95,0,51,22.95,51,51v408l178.5-76.5L408,459V51C408,22.95,385.05,0,357,0z"/>
                                                            </g>
                                                        </g>
                                                        </svg>
                                                    {% endif %}
                                                </div>
                                            </span>
                                        <a class="card_title_word_wrap"
                                           href="{% url 'movie_page' movie.slug %}">{{ movie.title }}</a>
                                        <ul class="card_list">
                                            <li class="card_list_li">
                                                <span class="card_info">{{ movie.release_date }}, </span><a
                                                    href="{% url 'genre_page' movie.genre.all.0.slug %}">{{ movie.genre.all.0 }}</a>
                                            </li>
                                        </ul>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="movie_list">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <div class="movie_list_line"></div>

                        <div id="movie_list_container_card" class="row">
                            {% for movie in first_page %}
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="card сard_big ">
                                        <a href="{% url 'movie_page' movie.slug %}" class="card_cover">
                                            <img class="card_img" src="{{ movie.poster.url }}" alt="">

                                            <svg class="card_svg_play" version="1.1" id="Layer_1"
                                                 xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                                 xml:space="preserve">
<g>
	<g>
		<path d="M256,0C114.841,0,0,114.841,0,256s114.841,256,256,256s256-114.841,256-256S397.159,0,256,0z M256,492.308
			c-130.298,0-236.308-106.01-236.308-236.308S125.702,19.692,256,19.692S492.308,125.702,492.308,256S386.298,492.308,256,492.308z
			"/>
	</g>
</g>
                                                <g>
	<g>
		<path d="M246.154,118.154c-21.582,0-41.721,8.564-56.707,24.106c-3.774,3.913-3.664,10.144,0.255,13.918
			c3.909,3.774,10.144,3.664,13.918-0.254c11.24-11.655,26.346-18.078,42.534-18.078c32.577,0,59.077,26.501,59.077,59.077
			c0,20.275-9.447,26.712-26.601,38.394c-9.039,6.159-19.288,13.135-29.759,23.543c-28.111,27.923-19.394,59.044-10.861,71.597
			c1.899,2.792,4.971,4.289,8.106,4.289c1.885,0,3.793-0.543,5.481-1.669c4.495-3,5.707-9.1,2.745-13.624
			c-1.553-2.371-14.529-23.837,8.404-46.621c9.187-9.125,18.635-15.561,26.971-21.24c18.106-12.331,35.207-23.981,35.207-54.668
			C324.923,153.49,289.586,118.154,246.154,118.154z"/>
	</g>
</g>
                                                <g>
	<g>
		<path d="M245.135,364.308c-5.438,0-9.846,4.41-9.846,9.846V384c0,5.438,4.409,9.846,9.846,9.846c5.438,0,9.846-4.409,9.846-9.846
			v-9.846C254.981,368.718,250.572,364.308,245.135,364.308z"/>
	</g>
</g>
                                        </svg>

                                            <span class="navbar_rating_hover">
                                                <span class="card_rating">
                                                    <svg class="card_svg_star" version="1.1" id="Capa_1"
                                                         xmlns="http://www.w3.org/2000/svg"
                                                         xmlns:xlink="http://www.w3.org/1999/xlink"
                                                         x="0px"
                                                         y="0px"
                                                         width="36.09px" height="36.09px" viewBox="0 0 36.09 36.09"
                                                         style="enable-background:new 0 0 36.09 36.09;"
                                                         xml:space="preserve"
                                                    >
        <g>
            <path d="M36.042,13.909c-0.123-0.377-0.456-0.646-0.85-0.688l-11.549-1.172L18.96,1.43c-0.16-0.36-0.519-0.596-0.915-0.596
                s-0.755,0.234-0.915,0.598L12.446,12.05L0.899,13.221c-0.394,0.04-0.728,0.312-0.85,0.688c-0.123,0.377-0.011,0.791,0.285,1.055
                l8.652,7.738L6.533,34.045c-0.083,0.387,0.069,0.787,0.39,1.02c0.175,0.127,0.381,0.191,0.588,0.191
                c0.173,0,0.347-0.045,0.503-0.137l10.032-5.84l10.03,5.84c0.342,0.197,0.77,0.178,1.091-0.059c0.32-0.229,0.474-0.633,0.391-1.02
                l-2.453-11.344l8.653-7.737C36.052,14.699,36.165,14.285,36.042,13.909z M25.336,21.598c-0.268,0.24-0.387,0.605-0.311,0.957
                l2.097,9.695l-8.574-4.99c-0.311-0.182-0.695-0.182-1.006,0l-8.576,4.99l2.097-9.695c0.076-0.352-0.043-0.717-0.311-0.957
                l-7.396-6.613l9.87-1.002c0.358-0.035,0.668-0.264,0.814-0.592l4.004-9.077l4.003,9.077c0.146,0.328,0.456,0.557,0.814,0.592
                l9.87,1.002L25.336,21.598z"/>
        </g>
                                                        <g>
        </g>
                                                        <g>
        </g>
                                                        <g>
        </g>
                                                        <g>
        </g>
                                                        <g>
        </g>
                                                        <g>
        </g>
                                                        <g>
        </g>
                                                        <g>
        </g>
                                                        <g>
        </g>
                                                        <g>
        </g>
                                                        <g>
        </g>
                                                        <g>
        </g>
                                                        <g>
        </g>
                                                        <g>
        </g>
                                                        <g>
        </g>
        </svg>
                                                    {{ movie.IMDb_RATING }}
                                                </span>
                                                <div data-value="{{ movie.slug }}" data-value-type="film"
                                                     class="svg_heart_container {{ movie.slug }}_cls_favorite">
                                                    {% favorite_movie movie request 'Favorite' as favorite_bool %}
                                                    {% if favorite_bool %}
                                                        <svg class="card_svg_actions_with_film favourite_film"
                                                             version="1.1"
                                                             id="Capa_1"

                                                             xmlns="http://www.w3.org/2000/svg"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                             width="45.743px" height="45.743px"
                                                             viewBox="0 0 45.743 45.743"
                                                             xml:space="preserve">
                                                    <g>
                                                        <path d="M34.199,3.83c-3.944,0-7.428,1.98-9.51,4.997c0,0-0.703,1.052-1.818,1.052c-1.114,0-1.817-1.052-1.817-1.052
                                                            c-2.083-3.017-5.565-4.997-9.51-4.997C5.168,3.83,0,8.998,0,15.376c0,1.506,0.296,2.939,0.82,4.258
                                                            c3.234,10.042,17.698,21.848,22.051,22.279c4.354-0.431,18.816-12.237,22.052-22.279c0.524-1.318,0.82-2.752,0.82-4.258
                                                            C45.743,8.998,40.575,3.83,34.199,3.83z"/>
                                                    </g>
                                                </svg>
                                                    {% else %}
                                                        <svg class="card_svg_actions_with_film" version="1.1"
                                                             id="Capa_1"

                                                             xmlns="http://www.w3.org/2000/svg"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                             width="45.743px" height="45.743px"
                                                             viewBox="0 0 45.743 45.743"
                                                             xml:space="preserve">
                                                    <g>
                                                        <path d="M34.199,3.83c-3.944,0-7.428,1.98-9.51,4.997c0,0-0.703,1.052-1.818,1.052c-1.114,0-1.817-1.052-1.817-1.052
                                                            c-2.083-3.017-5.565-4.997-9.51-4.997C5.168,3.83,0,8.998,0,15.376c0,1.506,0.296,2.939,0.82,4.258
                                                            c3.234,10.042,17.698,21.848,22.051,22.279c4.354-0.431,18.816-12.237,22.052-22.279c0.524-1.318,0.82-2.752,0.82-4.258
                                                            C45.743,8.998,40.575,3.83,34.199,3.83z"/>
                                                    </g>
                                                </svg>
                                                    {% endif %}
                                                </div>
                                                <div data-value="{{ movie.slug }}" data-value-type="film"
                                                     class="svg_bookmark_container {{ movie.slug }}_cls_bookmark">
                                                    {% favorite_movie movie request 'Later' as book_mark %}
                                                    {% if book_mark %}
                                                        <svg class="card_svg_actions_with_film later_film" version="1.1"
                                                             id="Capa_1"
                                                             xmlns="http://www.w3.org/2000/svg"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                             width="459px" height="459px" viewBox="0 0 459 459"
                                                             style="enable-background:new 0 0 459 459;"
                                                             xml:space="preserve">
                                                        <g>
                                                            <g id="bookmark">
                                                                <path d="M357,0H102C73.95,0,51,22.95,51,51v408l178.5-76.5L408,459V51C408,22.95,385.05,0,357,0z"/>
                                                            </g>
                                                        </g>
                                                        </svg>
                                                    {% else %}
                                                        <svg class="card_svg_actions_with_film" version="1.1"
                                                             id="Capa_1"
                                                             xmlns="http://www.w3.org/2000/svg"
                                                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                             width="459px" height="459px" viewBox="0 0 459 459"
                                                             style="enable-background:new 0 0 459 459;"
                                                             xml:space="preserve">
                                                        <g>
                                                            <g id="bookmark">
                                                                <path d="M357,0H102C73.95,0,51,22.95,51,51v408l178.5-76.5L408,459V51C408,22.95,385.05,0,357,0z"/>
                                                            </g>
                                                        </g>
                                                        </svg>
                                                    {% endif %}
                                                </div>
                                            </span>
                                        </a>
                                        <div class="card_content">
                                            <h3 class="card_title_word_wrap card_title_wrap"><a
                                                    href="{% url 'movie_page' movie.slug %}">{{ movie.title }}</a></h3>
                                            <h5 class="card_content_title_h5">Genres</h5>
                                            <ul class="card_list_big card_test_some flex-row">
                                                {% for genre in movie.genre.all %}
                                                    {% if forloop.counter0 == 0 %}
                                                        <a href="{% url 'genre_page' genre.slug %}">{{ genre }}</a>
                                                    {% elif forloop.counter0 < 3 %}
                                                        <a href="{% url 'genre_page' genre.slug %}"><span
                                                                class="span_color_card">, </span>{{ genre }}</a>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                            <ul class="card_list_big">
                                                <li class="card_list_li">Release Date : {{ movie.release_date }}</li>
                                                <li class="card_list_li">
                                                    Director: <a class="card_director"
                                                                 href="{% url 'director_page' movie.director.slug_field %}">{{ movie.director }}</a>
                                                </li>
                                            </ul>
                                            <p class="card_content_title_h5 card_content_p">
                                                «{{ movie.summary|truncatechars:100 }}»</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="movie_page_line">
                            <ul class="movie_list_page" data-number="{{ total_pages }}">
                                <li class="movie_page_ele arrow_container_left">
                                    <a href="{{ 1 }}" class="page_number page_arrow_left">
                                        <svg class="page_svg" version="1.1" id="Capa_1"
                                             xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="306px" height="306px" viewBox="0 0 306 306"
                                             style="enable-background:new 0 0 306 306;" xml:space="preserve">
<g>
	<g id="chevron-left">
		<polygon points="247.35,35.7 211.65,0 58.65,153 211.65,306 247.35,270.3 130.05,153 		"/>
	</g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
</svg>
                                    </a>
                                </li>
                                {% for i in page_range %}
                                    {% if i == 1 %}
                                        <li class="movie_page_ele"><a class="page_number active_a"
                                                                      href="{{ i }}">{{ i }}</a></li>
                                    {% else %}
                                        <li class="movie_page_ele"><a class="page_number" href="{{ i }}">{{ i }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                <li class="movie_page_ele arrow_container_right">
                                    <a href="{{ 2 }}" class="page_number page_arrow_right">
                                        <svg class="page_svg" color="#e0e0e0" version="1.1" id="Capa_1"
                                             xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink"
                                             x="0px" y="0px"
                                             width="306px" height="306px" viewBox="0 0 306 306"
                                             style="enable-background:new 0 0 306 306;" xml:space="preserve">
<g>
	<g id="keyboard-arrow-right">
		<polygon points="58.65,267.75 175.95,153 58.65,35.7 94.35,0 247.35,153 94.35,306 		"/>
	</g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
                                            <g>
</g>
</svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="serials">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="movies_title_head">Popular Serials</h2>
                    </div>
                    <div class="col-12">
                        <div class="owl-carousel owl-theme" id="serial_slider">
                            {% for serial in  serials %}
                                <div class="card">
                                    <a href="{% url 'serial_page' serial.slug %}" class="card_cover">
                                        <img class="card_img" src="{{ serial.poster.url }}" alt="">
                                        <svg class="card_svg_play" version="1.1" id="Layer_1"
                                             xmlns="http://www.w3.org/2000/svg"
                                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;"
                                             xml:space="preserve">
<g>
	<g>
		<path d="M256,0C114.841,0,0,114.841,0,256s114.841,256,256,256s256-114.841,256-256S397.159,0,256,0z M256,492.308
			c-130.298,0-236.308-106.01-236.308-236.308S125.702,19.692,256,19.692S492.308,125.702,492.308,256S386.298,492.308,256,492.308z
			"/>
	</g>
</g>
                                            <g>
	<g>
		<path d="M246.154,118.154c-21.582,0-41.721,8.564-56.707,24.106c-3.774,3.913-3.664,10.144,0.255,13.918
			c3.909,3.774,10.144,3.664,13.918-0.254c11.24-11.655,26.346-18.078,42.534-18.078c32.577,0,59.077,26.501,59.077,59.077
			c0,20.275-9.447,26.712-26.601,38.394c-9.039,6.159-19.288,13.135-29.759,23.543c-28.111,27.923-19.394,59.044-10.861,71.597
			c1.899,2.792,4.971,4.289,8.106,4.289c1.885,0,3.793-0.543,5.481-1.669c4.495-3,5.707-9.1,2.745-13.624
			c-1.553-2.371-14.529-23.837,8.404-46.621c9.187-9.125,18.635-15.561,26.971-21.24c18.106-12.331,35.207-23.981,35.207-54.668
			C324.923,153.49,289.586,118.154,246.154,118.154z"/>
	</g>
</g>
                                            <g>
	<g>
		<path d="M245.135,364.308c-5.438,0-9.846,4.41-9.846,9.846V384c0,5.438,4.409,9.846,9.846,9.846c5.438,0,9.846-4.409,9.846-9.846
			v-9.846C254.981,368.718,250.572,364.308,245.135,364.308z"/>
	</g>
</g>
                                        </svg>
                                        <span class="navbar_rating_hover">
                                            <span class="card_rating">
                                                <svg class="card_svg_star" version="1.1" id="Capa_1"
                                                     xmlns="http://www.w3.org/2000/svg"
                                                     xmlns:xlink="http://www.w3.org/1999/xlink"
                                                     x="0px"
                                                     y="0px"
                                                     width="36.09px" height="36.09px" viewBox="0 0 36.09 36.09"
                                                     style="enable-background:new 0 0 36.09 36.09;"
                                                     xml:space="preserve"
                                                >
    <g>
        <path d="M36.042,13.909c-0.123-0.377-0.456-0.646-0.85-0.688l-11.549-1.172L18.96,1.43c-0.16-0.36-0.519-0.596-0.915-0.596
            s-0.755,0.234-0.915,0.598L12.446,12.05L0.899,13.221c-0.394,0.04-0.728,0.312-0.85,0.688c-0.123,0.377-0.011,0.791,0.285,1.055
            l8.652,7.738L6.533,34.045c-0.083,0.387,0.069,0.787,0.39,1.02c0.175,0.127,0.381,0.191,0.588,0.191
            c0.173,0,0.347-0.045,0.503-0.137l10.032-5.84l10.03,5.84c0.342,0.197,0.77,0.178,1.091-0.059c0.32-0.229,0.474-0.633,0.391-1.02
            l-2.453-11.344l8.653-7.737C36.052,14.699,36.165,14.285,36.042,13.909z M25.336,21.598c-0.268,0.24-0.387,0.605-0.311,0.957
            l2.097,9.695l-8.574-4.99c-0.311-0.182-0.695-0.182-1.006,0l-8.576,4.99l2.097-9.695c0.076-0.352-0.043-0.717-0.311-0.957
            l-7.396-6.613l9.87-1.002c0.358-0.035,0.668-0.264,0.814-0.592l4.004-9.077l4.003,9.077c0.146,0.328,0.456,0.557,0.814,0.592
            l9.87,1.002L25.336,21.598z"/>
    </g>
                                                    <g>
    </g>
                                                    <g>
    </g>
                                                    <g>
    </g>
                                                    <g>
    </g>
                                                    <g>
    </g>
                                                    <g>
    </g>
                                                    <g>
    </g>
                                                    <g>
    </g>
                                                    <g>
    </g>
                                                    <g>
    </g>
                                                    <g>
    </g>
                                                    <g>
    </g>
                                                    <g>
    </g>
                                                    <g>
    </g>
                                                    <g>
    </g>
    </svg>
                                                {{ serial.IMDb_RATING }}
                                            </span>
                                            <div data-value="{{ serial.slug }}" data-value-type="serial"
                                                 class="svg_heart_container {{ serial.slug }}_cls_favorite">
                                                {% favorite_serial serial request 'Favorite' as favorite_bool %}
                                                {% if favorite_bool %}
                                                    <svg class="card_svg_actions_with_film favourite_film"
                                                         version="1.1"
                                                         id="Capa_1"

                                                         xmlns="http://www.w3.org/2000/svg"
                                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                         width="45.743px" height="45.743px" viewBox="0 0 45.743 45.743"
                                                         xml:space="preserve">
                                                <g>
                                                    <path d="M34.199,3.83c-3.944,0-7.428,1.98-9.51,4.997c0,0-0.703,1.052-1.818,1.052c-1.114,0-1.817-1.052-1.817-1.052
                                                        c-2.083-3.017-5.565-4.997-9.51-4.997C5.168,3.83,0,8.998,0,15.376c0,1.506,0.296,2.939,0.82,4.258
                                                        c3.234,10.042,17.698,21.848,22.051,22.279c4.354-0.431,18.816-12.237,22.052-22.279c0.524-1.318,0.82-2.752,0.82-4.258
                                                        C45.743,8.998,40.575,3.83,34.199,3.83z"/>
                                                </g>
                                            </svg>
                                                {% else %}
                                                    <svg class="card_svg_actions_with_film" version="1.1" id="Capa_1"

                                                         xmlns="http://www.w3.org/2000/svg"
                                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                         width="45.743px" height="45.743px" viewBox="0 0 45.743 45.743"
                                                         xml:space="preserve">
                                                <g>
                                                    <path d="M34.199,3.83c-3.944,0-7.428,1.98-9.51,4.997c0,0-0.703,1.052-1.818,1.052c-1.114,0-1.817-1.052-1.817-1.052
                                                        c-2.083-3.017-5.565-4.997-9.51-4.997C5.168,3.83,0,8.998,0,15.376c0,1.506,0.296,2.939,0.82,4.258
                                                        c3.234,10.042,17.698,21.848,22.051,22.279c4.354-0.431,18.816-12.237,22.052-22.279c0.524-1.318,0.82-2.752,0.82-4.258
                                                        C45.743,8.998,40.575,3.83,34.199,3.83z"/>
                                                </g>
                                            </svg>
                                                {% endif %}
                                            </div>
                                             <div data-value="{{ serial.slug }}" data-value-type="serial"
                                                  class="svg_bookmark_container {{ serial.slug }}_cls_bookmark">
                                                 {% favorite_serial serial request 'Later' as book_mark %}
                                                 {% if book_mark %}
                                                     <svg class="card_svg_actions_with_film later_film" version="1.1"
                                                          id="Capa_1"
                                                          xmlns="http://www.w3.org/2000/svg"
                                                          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                          width="459px" height="459px" viewBox="0 0 459 459"
                                                          style="enable-background:new 0 0 459 459;"
                                                          xml:space="preserve">
                                                        <g>
                                                            <g id="bookmark">
                                                                <path d="M357,0H102C73.95,0,51,22.95,51,51v408l178.5-76.5L408,459V51C408,22.95,385.05,0,357,0z"/>
                                                            </g>
                                                        </g>
                                                        </svg>
                                                 {% else %}
                                                     <svg class="card_svg_actions_with_film" version="1.1" id="Capa_1"
                                                          xmlns="http://www.w3.org/2000/svg"
                                                          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                          width="459px" height="459px" viewBox="0 0 459 459"
                                                          style="enable-background:new 0 0 459 459;"
                                                          xml:space="preserve">
                                                        <g>
                                                            <g id="bookmark">
                                                                <path d="M357,0H102C73.95,0,51,22.95,51,51v408l178.5-76.5L408,459V51C408,22.95,385.05,0,357,0z"/>
                                                            </g>
                                                        </g>
                                                        </svg>
                                                 {% endif %}
                                             </div>
                                        </span>

                                    </a>

                                    <a class="card_title_word_wrap"
                                       href="{% url 'serial_page' serial.slug %}">{{ serial.serial_name }}</a>
                                    <ul class="card_list">
                                        <li class="card_list_li">
                                            <span class="card_info">{{ serial.release_date }}, </span><a
                                                href="{% url 'genre_page' serial.genre.all.0.slug %}">{{ serial.genre.all.0 }}</a>
                                        </li>
                                    </ul>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
{% block script %}
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/owl_carousel_active.js' %}"></script>
    <script src="{% static 'js/ajax_favoriteFilm.js' %}"></script>
    <script src="{% static 'js/ajax_laterFilm.js' %}"></script>
    <script src="{% static 'js/ajax_query_page_list.js' %}"></script>
{% endblock script %}