{% extends 'web/serial_movie_base_page.html' %}
{% load check_favorite %}
{% load check_like_dis %}

{% block title_film_serial %}
    <title>{{ content.serial_name }}</title>
{% endblock title_film_serial %}
{% block active_element_tmp %}
    <div data-value="{{ content.slug }}" data-value-type="serial"
         class="svg_heart_container {{ content.slug }}_cls_favorite">
        {% favorite_serial content request 'Favorite' as favorite_bool %}
        {% if favorite_bool %}
            <svg class="card_svg_style_single_page favourite_film"
                 version="1.1"
                 id="Capa_1"

                 xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="45.743px" height="45.743px" viewBox="0 0 45.743 45.743"
                 xml:space="preserve">
                                            <g>
                                                <path d="M34.199,3.83c-3.944,0-7.428,1.98-9.51,4.997c0,0-0.703,1.052-1.818,1.052c-1.114,0-1.817-1.052-1.817-1.052
                                                    c-2.083-3.017-5.565-4.997-9.51-4.997C5.168,3.83,0,8.998,0,15.376c0,1.506,0.296,2.939,0.82,4.258
                                                    c3.234,10.042,17.698,21.848,22.051,22.279c4.354-0.431,18.816-12.237,22.052-22.279c0.524-1.318,0.82-2.752,0.82-4.258
                                                    C45.743,8.998,40.575,3.83,34.199,3.83z"/>
                                            </g>
                                        </svg>
        {% else %}
            <svg class="card_svg_style_single_page" version="1.1" id="Capa_1"

                 xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="45.743px" height="45.743px" viewBox="0 0 45.743 45.743"
                 xml:space="preserve">
                                            <g>
                                                <path d="M34.199,3.83c-3.944,0-7.428,1.98-9.51,4.997c0,0-0.703,1.052-1.818,1.052c-1.114,0-1.817-1.052-1.817-1.052
                                                    c-2.083-3.017-5.565-4.997-9.51-4.997C5.168,3.83,0,8.998,0,15.376c0,1.506,0.296,2.939,0.82,4.258
                                                    c3.234,10.042,17.698,21.848,22.051,22.279c4.354-0.431,18.816-12.237,22.052-22.279c0.524-1.318,0.82-2.752,0.82-4.258
                                                    C45.743,8.998,40.575,3.83,34.199,3.83z"/>
                                            </g>
                                        </svg>
        {% endif %}
    </div>
    <div data-value="{{ content.slug }}" data-value-type="serial"
         class="svg_bookmark_container {{ content.slug }}_cls_bookmark">
        {% favorite_serial content request 'Later' as book_mark %}
        {% if book_mark %}
            <svg class=" card_svg_style_single_page later_film" version="1.1"
                 id="Capa_1"
                 xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="459px" height="459px" viewBox="0 0 459 459"
                 style="enable-background:new 0 0 459 459;"
                 xml:space="preserve">
                                                    <g>
                                                        <g id="bookmark">
                                                            <path d="M357,0H102C73.95,0,51,22.95,51,51v408l178.5-76.5L408,459V51C408,22.95,385.05,0,357,0z"/>
                                                        </g>
                                                    </g>
                                                    </svg>
        {% else %}
            <svg class=" card_svg_style_single_page" version="1.1" id="Capa_1"
                 xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="459px" height="459px" viewBox="0 0 459 459"
                 style="enable-background:new 0 0 459 459;"
                 xml:space="preserve">
                                                    <g>
                                                        <g id="bookmark">
                                                            <path d="M357,0H102C73.95,0,51,22.95,51,51v408l178.5-76.5L408,459V51C408,22.95,385.05,0,357,0z"/>
                                                        </g>
                                                    </g>
                                                    </svg>
        {% endif %}
    </div>
{% endblock active_element_tmp %}
{% block name_film_serial %}
    <h1 class="mov_ser_text title_margin_btm">{{ content.serial_name }}</h1>
    <h3 class="mov_ser_text">About Serial</h3>
{% endblock name_film_serial %}
{% block data_type_serial_film %}
    <a name="{{ content.serial_name }}" id="delete_user_rating" data-type="serial"
       class="font_class_style_rating mov_rating_text" href="">Delete</a>
{% endblock data_type_serial_film %}
{% block time_minute %}
    <div class="about_film_attribute_content">
        <h4>{{ content.time_minute }}</h4>
    </div>
{% endblock time_minute %}
{% block serial_seasonse %}
    <li class="d-flex about_film_block_container_li">
        <div class="about_film_attribute">
            <h4>Seasons</h4>
        </div>
        <div class="about_film_attribute_content">
            <h4>{{ content.seasons.count }}</h4>
        </div>
    </li>
{% endblock serial_seasonse %}
{% block like_dis_section %}
    <div id="like_dislike_btn_container" data-type="serial" class="d-flex" data-id="{{ review.pk }}">

        {% calculate_l_d_serial review as total_l_d %}
        {% like_dislike_review_serial request review 'Like' as bool_review_like %}
        {% if bool_review_like %}
            <button id="like_{{ review.pk }}_btn" data-value="Like" type="button"
                    class="like_dislike_btn active_btn_status m-left">
                <svg class="like_dislike_svg like_svg"
                     version="1.1" id="Capa_1"
                     xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 58 58" style="enable-background:new 0 0 58 58;"
                     xml:space="preserve">
                                                <g>
                                                    <path d="M9.5,43c-2.757,0-5,2.243-5,5s2.243,5,5,5s5-2.243,5-5S12.257,43,9.5,43z"/>
                                                    <path d="M56.5,35c0-2.495-1.375-3.662-2.715-4.233C54.835,29.85,55.5,28.501,55.5,27c0-2.757-2.243-5-5-5H36.134l0.729-3.41
                                                        c0.973-4.549,0.334-9.716,0.116-11.191C36.461,3.906,33.372,0,30.013,0h-0.239C28.178,0,25.5,0.909,25.5,7c0,14.821-6.687,15-7,15
                                                        h0h-1v-2h-16v38h16v-2h28c2.757,0,5-2.243,5-5c0-1.164-0.4-2.236-1.069-3.087C51.745,47.476,53.5,45.439,53.5,43
                                                        c0-1.164-0.4-2.236-1.069-3.087C54.745,39.476,56.5,37.439,56.5,35z M3.5,56V22h12v34H3.5z"/>
                                                </g>
                                                </svg>
                Useful
                <span class="number_btn_like_dis">{{ total_l_d.Like }}</span>
            </button>
        {% else %}
            <button id="like_{{ review.pk }}_btn" data-value="Like" type="button"
                    class="like_dislike_btn m-left">
                <svg class="like_dislike_svg like_svg"
                     version="1.1" id="Capa_1"
                     xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 58 58" style="enable-background:new 0 0 58 58;"
                     xml:space="preserve">
                                                <g>
                                                    <path d="M9.5,43c-2.757,0-5,2.243-5,5s2.243,5,5,5s5-2.243,5-5S12.257,43,9.5,43z"/>
                                                    <path d="M56.5,35c0-2.495-1.375-3.662-2.715-4.233C54.835,29.85,55.5,28.501,55.5,27c0-2.757-2.243-5-5-5H36.134l0.729-3.41
                                                        c0.973-4.549,0.334-9.716,0.116-11.191C36.461,3.906,33.372,0,30.013,0h-0.239C28.178,0,25.5,0.909,25.5,7c0,14.821-6.687,15-7,15
                                                        h0h-1v-2h-16v38h16v-2h28c2.757,0,5-2.243,5-5c0-1.164-0.4-2.236-1.069-3.087C51.745,47.476,53.5,45.439,53.5,43
                                                        c0-1.164-0.4-2.236-1.069-3.087C54.745,39.476,56.5,37.439,56.5,35z M3.5,56V22h12v34H3.5z"/>
                                                </g>
                                                </svg>
                Useful
                <span class="number_btn_like_dis">{{ total_l_d.Like }}</span>
            </button>
        {% endif %}
        {% like_dislike_review_serial request review 'Dislike' as bool_review_dis %}
        {% if bool_review_dis %}
            <button id="dislike_{{ review.pk }}_btn" data-value="Dislike"
                    type="button"
                    class="like_dislike_btn active_btn_status">
                <svg class="like_dislike_svg dislike_svg" version="1.1" id="Capa_1"
                     xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 58 58" style="enable-background:new 0 0 58 58;"
                     xml:space="preserve">
                                                <g>
                                                    <path d="M40.5,0v2h-28c-2.757,0-5,2.243-5,5c0,1.164,0.4,2.236,1.069,3.087C6.255,10.524,4.5,12.561,4.5,15
                                                        c0,1.164,0.4,2.236,1.069,3.087C3.255,18.524,1.5,20.561,1.5,23c0,2.495,1.375,3.662,2.715,4.233C3.165,28.15,2.5,29.499,2.5,31
                                                        c0,2.757,2.243,5,5,5h14.366l-0.729,3.41c-0.973,4.551-0.334,9.717-0.116,11.191C21.539,54.094,24.628,58,27.987,58h0.239
                                                        c1.596,0,4.274-0.909,4.274-7c0-14.82,6.686-15,7-15h0h1v2h16V0H40.5z M54.5,36h-12V2h12V36z"/>
                                                    <path d="M48.5,15c2.757,0,5-2.243,5-5s-2.243-5-5-5s-5,2.243-5,5S45.743,15,48.5,15z"/>
                                                </g>
                                                </svg>
                Unuseful
                <span class="number_btn_like_dis">{{ total_l_d.Dislike }}</span>
            </button>
        {% else %}
            <button id="dislike_{{ review.pk }}_btn" data-value="Dislike"
                    type="button"
                    class="like_dislike_btn">
                <svg class="like_dislike_svg dislike_svg" version="1.1" id="Capa_1"
                     xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 58 58" style="enable-background:new 0 0 58 58;"
                     xml:space="preserve">
                                                <g>
                                                    <path d="M40.5,0v2h-28c-2.757,0-5,2.243-5,5c0,1.164,0.4,2.236,1.069,3.087C6.255,10.524,4.5,12.561,4.5,15
                                                        c0,1.164,0.4,2.236,1.069,3.087C3.255,18.524,1.5,20.561,1.5,23c0,2.495,1.375,3.662,2.715,4.233C3.165,28.15,2.5,29.499,2.5,31
                                                        c0,2.757,2.243,5,5,5h14.366l-0.729,3.41c-0.973,4.551-0.334,9.717-0.116,11.191C21.539,54.094,24.628,58,27.987,58h0.239
                                                        c1.596,0,4.274-0.909,4.274-7c0-14.82,6.686-15,7-15h0h1v2h16V0H40.5z M54.5,36h-12V2h12V36z"/>
                                                    <path d="M48.5,15c2.757,0,5-2.243,5-5s-2.243-5-5-5s-5,2.243-5,5S45.743,15,48.5,15z"/>
                                                </g>
                                                </svg>
                Unuseful
                <span class="number_btn_like_dis">{{ total_l_d.Dislike }}</span>
            </button>
        {% endif %}
    </div>
{% endblock like_dis_section %}
{% block btn_send_review %}
    <button data-cinema-type="serial" id="button_review_send" type="button"
            class="disable_btn btn_from_review">Send
    </button>
{% endblock btn_send_review %}