{% extends 'web/base.html' %}
{% load static %}
{% block title_style %}
    <link rel="stylesheet" href="{% static 'css/movie_serial_page.css' %}">
{% endblock title_style %}

{% block content %}
    <section class="main_movie_serial_section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="mov_ser_title">{{ content.get_model_name }}</h2>
                </div>
            </div>
            <div class="row flex-row">
                <div class="col-4">
                    <img class="mov_ser_img" src="{{ content.poster.url }}" alt>
                </div>
                <div class="col-8">
                    <h4 class="mov_ser_title">
                        {% if content.tile %}
                            {{ content.title }}
                        {% endif %}
                        {{ content.Serial_name }}
                    </h4>
                </div>
            </div>

        </div>

    </section>
{% endblock content %}


{% block script %}

{% endblock script %}