{% extends 'web/base.html' %}
{% load static %}
{% load check_favorite %}
{% load forx %}
{% load minute_to_hours_convertor %}
{% load check_like_dis %}
{% block title_style %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/movie_serial_page.css' %}">
    {% block title_film_serial %}
    {% endblock title_film_serial %}
{% endblock title_style %}

{% block content %}
    {% csrf_token %}
    <section class="main_movie_serial_section">
        <div class="container">
            <div class="row centered_block">
                <div class="col-lg-auto col-md-12">
                    <div class="position-relative container_image_single_page">
                        <img class="mov_ser_img" src="{{ content.poster.url }}" alt>
                        <div class="position_tags d-flex position-absolute">
                            {% block active_element_tmp %}
                            {% endblock active_element_tmp %}
                        </div>
                    </div>


                </div>
                <div class="col-lg-auto col-md-12">
                    <div class="left_block">
                        <div class="name_film_block">
                            {% block name_film_serial %}
                            {% endblock name_film_serial %}
                        </div>
                        <div class="about_film_block">
                            <ul class="px-0 ">
                                <li class="d-flex about_film_block_container_li">
                                    <div class="about_film_attribute">
                                        <h4>Release date</h4>
                                    </div>
                                    <div class="about_film_attribute_content">
                                        <h4>{{ content.release_date }}</h4>
                                    </div>
                                </li>
                                <li class="d-flex about_film_block_container_li">
                                    <div class="about_film_attribute">
                                        <h4>Genre</h4>
                                    </div>
                                    <div class="about_film_attribute_content">
                                        <h4>{{ content.genre.all|join:", " }}</h4>
                                    </div>
                                </li>
                                <li class="d-flex about_film_block_container_li">
                                    <div class="about_film_attribute">
                                        <h4>Country</h4>
                                    </div>
                                    <div class="about_film_attribute_content">
                                        <h4>{{ content.country }}</h4>
                                    </div>
                                </li>
                                <li class="d-flex about_film_block_container_li">
                                    <div class="about_film_attribute"><h4>Director</h4></div>
                                    <div class="about_film_attribute_content">
                                        <h4>{{ content.director }}</h4>
                                    </div>
                                </li>
                                <li class="d-flex about_film_block_container_li">
                                    <div class="about_film_attribute">
                                        <h4>Time</h4>
                                    </div>
                                    {% block time_minute %}
                                    {% endblock time_minute %}
                                </li>
                                {% block serial_seasonse %}
                                {% endblock serial_seasonse %}
                                <li class="d-flex about_film_block_container_li">
                                    <div class="about_film_attribute">
                                        <h4>Age</h4>
                                    </div>
                                    <div class="about_film_attribute_content">
                                        <h4 class="film_serial_rating_sys mpa_age_rating">{{ content.age_rating_sys }}</h4>
                                    </div>
                                </li>
                                <li class="d-flex about_film_block_container_li">
                                    <div class="about_film_attribute">
                                        <h4>Rating MPAA</h4>
                                    </div>
                                    <div class="about_film_attribute_content">
                                        <h4 class="film_serial_rating_sys mpa_age_rating">{{ content.mpa_rating_sys }}</h4>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="сol-12 d-flex rating_bar d-flex flex-column">
                    <div id="cinema_bar_rating_system" class="d-flex">
                        <div class="many_star_container d-flex">

                            {% for i in 10|for_range %}
                                <div class="one_star_div">
                                    <a name="{{ i| add:1 }}" class="one_star_container d-flex">
                                        <div class="svg_star_container">
                                            <svg class="svg_star_mark" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 width="940.688px" height="940.688px" viewBox="0 0 940.688 940.688"
                                                 style="enable-background:new 0 0 940.688 940.688;"
                                                 xml:space="preserve">
                                        <defs>
                                            <lineargradient id="grad_{{ i }}">
                                                <stop offset="50%" stop-color="yellow"></stop>
                                                <stop offset="50%" stop-color="grey"></stop>
                                            </lineargradient>
                                       </defs>
                                                <path d="M885.344,319.071l-258-3.8l-102.7-264.399c-19.8-48.801-88.899-48.801-108.6,0l-102.7,264.399l-258,3.8
                                                    c-53.4,3.101-75.1,70.2-33.7,103.9l209.2,181.4l-71.3,247.7c-14,50.899,41.1,92.899,86.5,65.899l224.3-122.7l224.3,122.601
                                                    c45.4,27,100.5-15,86.5-65.9l-71.3-247.7l209.2-181.399C960.443,389.172,938.744,322.071,885.344,319.071z"/>
                                    </svg>
                                        </div>
                                        <p class="my-0 p_star_text">{{ i |add:1 }}</p>
                                    </a>
                                </div>

                            {% endfor %}
                        </div>
                        {% if not rating.rating %}
                            <h2 id="true_rating_cinema" name="{{ content.IMDb_RATING }}"
                                class="rating_cinema_color mov_rating_text my-0">{{ content.IMDb_RATING }}</h2>
                        {% else %}
                            <h2 id="true_rating_cinema" name="{{ rating.rating }}"
                                class="rating_cinema_color mov_rating_text my-0">{{ content.IMDb_RATING }}</h2>
                        {% endif %}
                    </div>
                    {% if rating.rating %}
                        <div class="d-flex flex-column" id="user_rating">
                            <div class="d-flex justify-content-start align-content-center align-items-center">
                                <h4 class="m-0 mov_rating_text font_class_style_rating">Your evaluation </h4>
                                <p class="m-0 rating_cinema_color font_class_style_rating">{{ rating.rating }}</p>
                                {% block data_type_serial_film %}
                                {% endblock data_type_serial_film %}
                            </div>
                            <p class="font_class_style_rating time_styles mov_rating_text">{{ rating.created|date:'Y-m-d H:i' }}</p>
                        </div>
                    {% endif %}
                </div>
                <div class="col-12 synopsys_title">
                    <h2 class="mov_ser_text">Synopsis</h2>
                </div>
                <div class="col-12">
                    <div class="synopsys_block">
                        <p class="mov_ser_text p_star_text">{{ content.summary }}</p>
                    </div>
                </div>
            </div>
            {% if cinema_reviews %}
                <div class="row m-20px">
                    <h2 class="mov_rating_text text-start m-0">Users Review</h2>
                </div>
                <div class="row">
                    <div class="col-md-10 order-md-1 col-sm-12 order-last">
                        <div id="users_review" class="m-20px">
                            {% for review in cinema_reviews %}
                                <div data-type="{{ review.review_type }}"
                                     class="border_style_form user_review_container {{ review.review_type|lower }}_border m-20px">
                                    <div class="{{ review.review_type|lower }}_user_bottom user_info d-flex">
                                        <div>
                                            <a href="{% url 'profile_page' review.user.username %}">{{ review.user.username }}</a>
                                        </div>
                                        <div class="created_review_date">
                                            <p class="mov_rating_text">{{ review.created |date:'j F o \a\t H:i' }}</p>
                                        </div>
                                    </div>
                                    <div class="user_review title_form_review_container">
                                        <h4 class="mov_rating_text text-start">{{ review.title }}</h4>
                                        <div class="content-block-text">
                                            <p class="mov_rating_text text-start">{{ review.text }}</p>
                                        </div>
                                        <div class="show-all-container">
                                            <button class="show-all">Show all review</button>
                                        </div>
                                        {% block like_dis_section %}
                                        {% endblock like_dis_section %}
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>

                    <div class="col-md-2 order-md-1 col-sm-12 order-first m-20px">
                        <div id="review_type_block">

                            <div data-type="Total"
                                 class="rating_bar_select_total rating_bar_select_cls active_rating_bar_block">
                                <h1>{{ calculated.total }}</h1>
                                <h4 class="total_text">Total</h4>
                            </div>

                            {% if calculated.Positives %}
                                <div data-type="Positive" class=" rating_bar_select_cls">
                                    <div class="d-flex align-content-center align-items-end">
                                        <h1 class="m-0 positive_rating_bar">{{ calculated.Positives.Positive }}</h1>
                                        <h6 class="percent_style">{{ calculated.Positives.total }}%</h6>
                                    </div>
                                    <h4 class="text-start">Positives</h4>
                                </div>
                            {% endif %}
                            {% if calculated.Neutrals %}
                                <div data-type="Neutral" class=" rating_bar_select_cls">
                                    <div class="d-flex align-content-center align-items-end">
                                        <h1 class="m-0 neutral_rating_bar">{{ calculated.Neutrals.Neutral }}</h1>
                                        <h6 class="percent_style">{{ calculated.Neutrals.total }}%</h6>
                                    </div>
                                    <h4 class="text-start">Neutrals</h4>
                                </div>
                            {% endif %}
                            {% if calculated.Negatives %}
                                <div data-type="Negative" class=" rating_bar_select_cls">
                                    <div class="d-flex align-content-center align-items-end">
                                        <h1 class="m-0 negative_rating_bar">{{ calculated.Negatives.Negative }}</h1>
                                        <h6 class="percent_style">{{ calculated.Negatives.total }}%</h6>
                                    </div>
                                    <h4 class="text-start">Negatives</h4>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if not have_review %}
                <div id="write_review_user" class="row block_review_write">
                    <div class="col-12">
                        <h2 class="mov_rating_text text-start">Write a review</h2>
                        <form method="post" id="form_view_submit" name="{{ content.slug }}">
                            <div class="border_style_form_send_review">
                                <div class="user_info_send_review user_info">
                                    {% if request.user.is_authenticated %}
                                        <a href="{% url 'profile_page' request.user.username %}">{{ request.user.username }}</a>
                                    {% else %}
                                        <a href="{% url 'register_page' %}">New User</a>
                                    {% endif %}
                                </div>
                                <div class="user_review">
                                    <div class="custom-select">
                                        <select>
                                            <option value="hide">Review type</option>
                                            <option>Positive</option>
                                            <option>Neutral</option>
                                            <option>Negative</option>
                                        </select>
                                    </div>
                                    <div class="title_form_review_container">
                                        <input placeholder="Title" id="input_title" class="w-100" maxlength="10"
                                               required>
                                    </div>
                                    <div class="text_form_review_container">
                                        <textarea placeholder="Text" id="textarea_form_review"
                                                  class="text_area_review w-100"
                                                  required></textarea>
                                    </div>
                                    <div class="button_form_review_container">
                                        {% block btn_send_review %}
                                        {% endblock btn_send_review %}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>

    </section>
{% endblock content %}


{% block script %}
    <script src="{% static 'js/star_fill.js' %}"></script>

    <script src="{% static 'js/ajax_rating_star_put.js' %}"></script>
    <script src="{% static 'js/ajax_delete_rating_user.js' %}"></script>
    <script src="{% static 'js/ajax_review_user.js' %}"></script>
    <script src="{% static 'js/ajax_favoriteFilm.js' %}"></script>
    <script src="{% static 'js/ajax_laterFilm.js' %}"></script>
    <script src="{% static 'js/ajax_like_dislike_set.js' %}"></script>

    <script src="{% static 'js/change_p_text_size.js' %}"></script>
    <script src="{% static 'js/rating_color_changer.js' %}"></script>

    <script src="{% static 'js/select_menu_review.js' %}"></script>
    <script src="{% static 'js/start_ajax_on_single_page_movie_serial.js' %}"></script>
    <script src="{% static 'js/filtering_data_review.js' %}"></script>
    <script src="{% static 'js/btn_open_full_text.js' %}"></script>
{% endblock script %}